<!DOCTYPE html>
<html>

<head>
  <title>WorkManager</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <%= render partial: "application/header" %>
  <%= tag.p notice, class: notice if notice.present? %>
  <%= tag.p alert, class: alert if alert.present? %>
  <%= yield %>
</body>

</html>